#labelTitle {
    -fx-background-color:  #9C004B;
    -fx-text-fill: white;
    -fx-padding: 20 10 30 10;
}

.subheader {
    -fx-background-color: #C65D8B;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 10 10 10 10;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}

.light-border.active {
    -fx-border-color: blue;
    -fx-text-fill: blue;
}

.next-button {
    -fx-graphic: url('next-button.png');
    -fx-background-image: url('next-button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 200;
}

.list-cell:focused {
    -fx-background-color: rgba(156, 0, 75, 0.7);
}