#labelTitle {
    -fx-background-color:  #9C004B;
    -fx-text-fill: white;
    -fx-padding: 20 10 30 10;
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}

.light-border.active {
    -fx-border-color: blue;
    -fx-text-fill: blue;
}

.indented {
    margin: 10 0 10 10;
}