#labelTitle {
    -fx-background-color:  #9C004B;
    -fx-text-fill: white;
    -fx-padding: 20 10 30 10;
    
    -fx-font: 22px "Calibri";
    -fx-font-weight: bold;  
}

.subheader {
    -fx-background-color: #C65D8B;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 10 10 10 10;
    
    -fx-text-fill: white;
    -fx-font: 16px "Calibri";
    -fx-font-weight: bold;  
}

.light-border {
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
}

.light-border.active {
    -fx-border-color: blue;
    -fx-text-fill: blue;
}

.light-border.error {
    -fx-border-color: red;
    -fx-text-fill: red;
}

.next-button {
    -fx-graphic: url('next-button.png');
    -fx-background-image: url('next-button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 200;
}

.infotext { 
    -fx-font: 14px "Calibri";    
}
