/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.02.2015, 14:13:55
    Author     : FreshXL
*/

.info-dialog-warning{
    -fx-border-color: white;
    -fx-border-width: 2;    
    -fx-background-color: orange;    
    -fx-border-radius: 10;    
    -fx-background-radius: 10;
}

.info-dialog-info{
    -fx-border-color: white;
    -fx-border-width: 2;    
    -fx-background-color: greenyellow;    
    -fx-border-radius: 10;    
    -fx-background-radius: 10;
}
