.last-opened-model-button {
    -fx-background-color: lightblue;
    -fx-padding: 5;
}

.last-opened-model-button:hover {
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.last-opened-model-button:focused {
    -fx-background-color: red;
}

.last-opened-model-button:pressed {
    -fx-background-color: green;
}

.last-opened-model-button.active {
    -fx-background-color: yellow;
}