.last-opened-model-button {
    -fx-background-color: lightblue;
    -fx-padding: 5;
}

.last-opened-model-button:hover {
    -fx-background-color: #8099E6;
    -fx-cursor: hand;    
    -fx-fill: white;
}

.last-opened-model-button:focused {
    -fx-background-color: red;
}

.last-opened-model-button:pressed {
    -fx-background-color: #CC99CC;
}

.last-opened-model-button.active {
    -fx-background-color: #CC99CC;
}